- content_for :stylesheet_links do
  = stylesheet_link_tag 'center_middle_layout', media: 'all', 'data-turbolinks-track' => 'reload'
= render template: 'layouts/center_middle', locals:{ header: false }
